doctype html
html
  head
    title #{pageTitle}
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    .form-wrapper
      h1 #{pageTitle}
      form(method="POST", action="/update-cobj")
        .form-group
          label(for="name") Name
          input(type="text", name="name", required)
        .form-group
          label(for="species") Species
          input(type="text", name="species", required)
        .form-group
          label(for="description") Description
          input(type="text", name="description", required)
        input(type="submit", value="Submit", class="button submit")
      a(href="/", class="button return") Return to homepage
